html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

@font-face {
  font-family: Melbourne;
  src: url("/fonts/Melbourne_reg.otf"); }

@font-face {
  font-family: Melbourne;
  font-weight: bold;
  src: url("/fonts/Melbourne_bold.otf"); }

@font-face {
  font-family: Bebas Neue;
  src: url("/fonts/BebasNeue.otf"); }

@font-face {
  font-family: Ubuntu-Title;
  src: url("/fonts/Ubuntu-Title.ttf"); }

@font-face {
  font-family: Capture-it;
  src: url("/fonts/Capture-it.ttf"); }

@font-face {
  font-family: Capture-it-2;
  src: url("/fonts/Capture-it-2.ttf"); }

@font-face {
  font-family: Museo Slab;
  src: url("/fonts/Museo_Slab_500.otf"); }

html, body {
  font-family: Helvetica Neue, Helvetica, Arial;
  width: 100%;
  background: url("/images/bg_noise.jpg") repeat;
  color: #555555; }

#wrap {
  min-height: 100%; }
  #wrap .container {
    padding-bottom: 220px; }

p {
  line-height: 28px; }

a {
  text-decoration: none;
  color: #89a6a8; }
  a:hover {
    color: #a6bcbe; }

.primary_font, h1 {
  font-family: Museo Slab, Helvetica Neue, Helvetica, arial, sans-serif; }

.secondary_font, #name #social_links, .post .title {
  font-family: Melbourne, Helvetica Neue, Helvetica, arial, sans-serif; }

h1 {
  color: #3b3f3f;
  font-size: 52px;
  text-transform: lowercase; }

#header h1 {
  font-size: 42px; }
  #header h1:hover {
    color: #545959; }

.highlight {
  font-family: Monaco, monospace;
  border: 1px solid #b5b5b5;
  padding: 20px;
  margin: 10px 0;
  text-shadow: none;
  line-height: 132%;
  overflow-x: scroll;
  font-size: 16px; }

.container {
  width: 650px;
  margin: 20px auto; }

#name {
  margin-top: 8px;
  text-align: center; }
  #name #social_links {
    list-style: none;
    clear: both; }
    #name #social_links li {
      font-size: 20px;
      display: inline; }
      #name #social_links li a {
        color: black;
        -webkit-transition: color 0.3s ease-in; }
        #name #social_links li a:hover {
          color: #89a6a8; }

#projects {
  width: 100%; }
  #projects .project {
    height: 300px; }
    #projects .project .caption {
      width: 240px;
      float: right;
      text-align: center;
      margin-bottom: 10px;
      font-family: Museo Slab; }
      #projects .project .caption .company {
        color: #89a6a8;
        font-size: 24px; }
        #projects .project .caption .company:hover {
          color: #a6bcbe; }
    #projects .project a {
      width: 360px; }
    #projects .project .graphic {
      float: left;
      width: 360px;
      height: 258px;
      box-shadow: 0px 10px 20px black;
      -webkit-box-shadow: 0px 10px 20px black; }
  #projects #niroka .graphic {
    background: url("/images/niroka_sprite.png") 0px 258px; }
    #projects #niroka .graphic:hover {
      background: url("/images/niroka_sprite.png") 0px 0px; }
  #projects #groupon .graphic {
    background: url("/images/groupon_sprite.png") 0px 258px; }
    #projects #groupon .graphic:hover {
      background: url("/images/groupon_sprite.png") 0px 0px; }
  #projects #mergefm .graphic {
    background: url("/images/mergefm_sprite.png") 0px 258px; }
    #projects #mergefm .graphic:hover {
      background: url("/images/mergefm_sprite.png") 0px 0px; }
  #projects #shotput .graphic {
    background: url("/images/shotput_sprite.png") 0px 258px; }
    #projects #shotput .graphic:hover {
      background: url("/images/shotput_sprite.png") 0px 0px; }
  #projects #bloc .graphic {
    background: url("/images/bloc_sprite.png") 0px 258px; }
    #projects #bloc .graphic:hover {
      background: url("/images/bloc_sprite.png") 0px 0px; }

.pretty a {
  font-family: Museo Slab;
  color: #89a6a8;
  font-size: 30px;
  text-shadow: #c8d885 0px 1px 1px; }
  .pretty a:hover {
    color: #a6bcbe; }

.posts {
  font-size: 24px;
  text-align: center; }
  .posts a {
    color: #3b3f3f; }
  .posts li {
    margin: 10px 0; }

.post {
  padding: 10px 0 50px 0;
  color: #3b3f3f;
  font-size: 20px; }
  .post .caption {
    text-align: center;
    margin-top: -18px;
    font-size: 14px; }
  .post img {
    display: block;
    margin: 0 auto;
    border: 4px solid rgba(0, 0, 0, 0.5); }
  .post h1, .post h4 {
    text-align: center; }
  .post h1 {
    color: #3b3f3f;
    text-transform: none; }
  .post .title {
    font-weight: bold;
    color: #3b3f3f;
    font-size: 36px;
    margin-bottom: 25px; }
  .post a {
    text-shadow: none; }
  .post p {
    color: #545959;
    font-size: 20px; }

.clear {
  clear: both; }

blockquote {
  padding-left: 20px;
  border-left: 3px solid #cccccc;
  margin: 20px 0;
  font-style: italic;
  font-weight: bold; }

p {
  margin: 20px 0; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px;
  font-weight: bold; }

.navigation {
  float: left;
  width: 180px;
  height: 180px;
  margin-right: 55px;
  margin-bottom: 80px;
  text-align: center;
  position: relative; }
  .navigation.last {
    margin-right: 0px; }
  .navigation.blog {
    background: url("/images/blog_large.png") no-repeat; }
    .navigation.blog:hover {
      background: url("/images/blog_large.png") 0 181px; }
    .navigation.blog p {
      margin-left: 7px; }
  .navigation.twitter {
    background: url("/images/twitter_large.png") no-repeat; }
    .navigation.twitter:hover {
      background: url("/images/twitter_large.png") 0 181px; }
  .navigation.github {
    background: url("/images/github_large.png") no-repeat; }
    .navigation.github:hover {
      background: url("/images/github_large.png") 0 181px; }
  .navigation p {
    position: absolute;
    text-transform: lowercase;
    bottom: -48px;
    left: 68px;
    color: #89a6a8; }
  .navigation:hover p {
    color: #a6bcbe; }

#header, #footer {
  margin-bottom: 40px; }
  #header .me, #footer .me {
    float: left; }
    #header .me img, #header .me h1, #footer .me img, #footer .me h1 {
      float: left; }
  #header .navigation, #footer .navigation {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    margin-bottom: 0;
    float: right; }
    #header .navigation.blog, #footer .navigation.blog {
      background: url("/images/blog.png") no-repeat; }
      #header .navigation.blog:hover, #footer .navigation.blog:hover {
        background: url("/images/blog.png") 0 48px; }
    #header .navigation.twitter, #footer .navigation.twitter {
      background: url("/images/twitter.png") no-repeat; }
      #header .navigation.twitter:hover, #footer .navigation.twitter:hover {
        background: url("/images/twitter.png") 0 48px; }
    #header .navigation.github, #footer .navigation.github {
      background: url("/images/github.png") no-repeat; }
      #header .navigation.github:hover, #footer .navigation.github:hover {
        background: url("/images/github.png") 0 48px; }

.navigation_links {
  width: 200px;
  margin: 40 auto 0; }

::selection {
  background: #a6bcbe;
  color: white;
  text-shadow: none; }

#footer {
  width: 100%;
  background: rgba(35, 35, 35, 0.6);
  padding: 20px 0;
  color: #d2d3ca;
  position: relative;
  margin-top: -220px;
  margin-bottom: 0px;
  height: 180px;
  clear: both; }
  #footer p {
    font-size: 18px; }
  #footer .navigation {
    display: inline-block;
    float: none; }
  #footer a {
    text-shadow: none;
    color: #89a6a8;
    text-decoration: underline; }
    #footer a:hover {
      color: #d2ddde; }
  #footer img {
    border-radius: 10px;
    margin-right: 10px;
    float: left; }
  #footer p {
    margin: 0; }

strong {
  font-weight: bold; }

li {
  margin: 20px 0;
  line-height: 28px; }

ul {
  list-style: disc;
  margin-left: 2em; }
  ul.posts {
    list-style: none; }

ol {
  list-style: decimal;
  margin-left: 2em; }

h4 {
  margin-bottom: 20px; }
