html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

@font-face {
  font-family: Melbourne;
  src: url("/fonts/Melbourne_reg.otf"); }

@font-face {
  font-family: Melbourne;
  font-weight: bold;
  src: url("/fonts/Melbourne_bold.otf"); }

@font-face {
  font-family: Bebas Neue;
  src: url("/fonts/BebasNeue.otf"); }

@font-face {
  font-family: Ubuntu-Title;
  src: url("/fonts/Ubuntu-Title.ttf"); }

@font-face {
  font-family: Capture-it;
  src: url("/fonts/Capture-it.ttf"); }

@font-face {
  font-family: Capture-it-2;
  src: url("/fonts/Capture-it-2.ttf"); }

@font-face {
  font-family: Museo Slab;
  src: url("/fonts/Museo_Slab_500.otf"); }

html, body {
  font-family: Helvetica Neue, Helvetica, Arial;
  width: 100%;
  background: url("/images/soft_wallpaper.png") repeat;
  color: #555555; }

p {
  line-height: 140%; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #a6b96a; }
  a:hover {
    color: #bbc98d; }

.primary_font, h1 {
  font-family: Museo Slab, Helvetica Neue, Helvetica, arial, sans-serif; }

.secondary_font, #name #social_links, .post .title {
  font-family: Melbourne, Helvetica Neue, Helvetica, arial, sans-serif; }

h1 {
  color: #a6b96a;
  font-size: 52px;
  text-transform: lowercase; }

#header h1 {
  font-size: 42px; }

.highlight {
  font-family: Arial;
  border: 1px solid #b5b5b5;
  padding: 10px;
  margin: 10px 0; }

#container {
  width: 650px;
  margin: 20px auto; }

#name {
  margin-top: 8px;
  text-align: center; }
  #name #social_links {
    list-style: none;
    clear: both; }
    #name #social_links li {
      font-size: 20px;
      display: inline; }
      #name #social_links li a {
        color: black;
        -webkit-transition: color 0.3s ease-in; }
        #name #social_links li a:hover {
          color: #3aa0b6; }

#projects {
  width: 100%; }
  #projects .project {
    height: 300px; }
    #projects .project .caption {
      width: 240px;
      float: right;
      text-align: center;
      margin-bottom: 10px;
      font-family: Museo Slab; }
      #projects .project .caption .company {
        color: #e54a4a;
        font-size: 24px;
        text-shadow: white 1px 1px 0; }
        #projects .project .caption .company:hover {
          color: #eb7777; }
    #projects .project a {
      width: 360px; }
    #projects .project .graphic {
      float: left;
      width: 360px;
      height: 258px;
      box-shadow: 0px 10px 20px black;
      -webkit-box-shadow: 0px 10px 20px black; }
  #projects #niroka .graphic {
    background: url("/images/niroka_sprite.png") 0px 258px; }
    #projects #niroka .graphic:hover {
      background: url("/images/niroka_sprite.png") 0px 0px; }
  #projects #groupon .graphic {
    background: url("/images/groupon_sprite.png") 0px 258px; }
    #projects #groupon .graphic:hover {
      background: url("/images/groupon_sprite.png") 0px 0px; }
  #projects #mergefm .graphic {
    background: url("/images/mergefm_sprite.png") 0px 258px; }
    #projects #mergefm .graphic:hover {
      background: url("/images/mergefm_sprite.png") 0px 0px; }
  #projects #shotput .graphic {
    background: url("/images/shotput_sprite.png") 0px 258px; }
    #projects #shotput .graphic:hover {
      background: url("/images/shotput_sprite.png") 0px 0px; }
  #projects #bloc .graphic {
    background: url("/images/bloc_sprite.png") 0px 258px; }
    #projects #bloc .graphic:hover {
      background: url("/images/bloc_sprite.png") 0px 0px; }

.pretty a {
  font-family: Museo Slab;
  color: #e54a4a;
  font-size: 30px;
  text-shadow: #c8d885 0px 1px 1px; }
  .pretty a:hover {
    color: #eb7777; }

.posts {
  font-size: 24px; }

.post {
  padding: 10px 0 70px 0; }
  .post .title {
    font-weight: bold;
    color: #a6b96a;
    font-size: 36px;
    margin-bottom: 25px; }

#header {
  margin-bottom: 40px; }
  #header h1 {
    float: left; }
  #header img {
    float: right;
    margin-left: 10px; }

.clear {
  clear: both; }

blockquote {
  padding-left: 20px;
  border-left: 3px solid #cccccc;
  margin: 20px 0; }

p {
  margin: 20px 0; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px;
  font-weight: bold; }

.navigation {
  float: left;
  margin-right: 55px;
  text-align: center; }
  .navigation.last {
    margin-right: 0px; }
  .navigation p {
    margin-top: 0px;
    margin-bottom: 40px;
    text-transform: lowercase; }
