@import "reset"
@import "fonts"

// variables
$width: 800px

// color scheme
$color1: #749CBA
$color2: #3366FF 
$color3: rgb(133, 181, 61)
$light_grey: #B5B5B5


// Layout definition
html, body
  font-family: Helvetica Neue, Helvetica, Arial
  width: 100% 

a
  text-decoration: none
  font-weight: bold
  color: $color1
  &:hover
    color: lighten($color1, 10)

.primary_font
  font-family: Ubuntu-Title, Helvetica Neue, Helvetica, arial, sans-serif

.secondary_font
  font-family: Melbourne, Helvetica Neue, Helvetica, arial, sans-serif

h1
  color: $color1
  font-size: 52px
  text-transform: lowercase
  @extend .primary_font

.highlight
  font-family: arial
  border: 1px solid $light_grey
  padding: 10px
  margin: 10px 0

// Structure Related CSS
#container
  width: $width
  margin: 110px auto

#header
  margin-top: 8px
  margin-bottom: 50px
  text-align: center
  #social_links
    list-style: none
    @extend .secondary_font
    clear: both
    li
      font-size: 20px
      display: inline
      a
        color: black
        -webkit-transition: color .30s ease-in
        &:hover
          color: $color2
#projects
  width: 100%
  height: 360px
  #groupon, #mergefm
    float: left
    width: 360px
    height: 300px
    .caption
      text-align: center
      margin-bottom: 10px
      font-family: Museo Slab
      .company
        color: $color3
        font-size: 24px
        text-shadow: #C8D885 0px 1px 1px
        &:hover
          color: lighten($color3, 10)
    .graphic
      width: 360px
      height: 258px
      box-shadow: 0px 10px 20px #000
      -webkit-box-shadow: 0px 10px 20px #000 
  #groupon
    margin-right: 38px
    margin-left: 24px
  #groupon .graphic
    background-image: url("/images/groupon_desat.png")
    &:hover
      background-image: url("/images/groupon.png")
  #mergefm .graphic
    background-image: url("/images/mergefm_desat.png")
    &:hover
      background-image: url("/images/mergefm.png")

#follow_me
  font-size: 18px
  text-align: center
  a
    font-family: Museo Slab
    font-size: 20px
    text-decoration: underline

.post
  padding: 10px 0 70px 0
  border-top: 1px solid black
  .title
    font-weight: bold
    color: $color1
    font-size: 36px
    margin-bottom: 25px
    @extend .secondary_font
