@import "reset"
@import "fonts"

// variables
$width: 600px
$name_width: 278px
$social_links_width: $width -$name_width 
$color1: #FA3834
$color2: #3366FF 
$light_grey: #222


body
  font-family: Melbourne

a
  text-decoration: none
  font-weight: bold
  color: $color1
  &:hover
    color: darken($color1, 10)

h1
  font-family: "Ubuntu-Title"
  font-size: 54px

.container
  width: $width
  margin: auto

.header
  margin-top: 200px
  height: 80px
  h1
    margin: 0 auto
    width: $name_width
  .social_links
    text-align: center
    list-style: none
    li
      font-size: 20px
      display: inline
      a
        color: $light_grey
        -webkit-transition: color .30s ease-in
        &:hover
          color: $color2

.main
  width: $width
  .wip
    font-size: 100px
    margin-top: 30px
    text-align: center
    .at
      color: $color1
      

        

