@import "reset"
@import "fonts"

// variables
$width: 600px

// color scheme
$color1: #FA3834
$color2: #3366FF 
$light_grey: #B5B5B5


// Layout definition
html, body
  font-family: Helvetica Neue, Helvetica, Arial
  width: 100% 

a
  text-decoration: none
  font-weight: bold
  color: $color1
  &:hover
    color: darken($color1, 10)

.primary_font
  font-family: Ubuntu-Title, Helvetica Neue, Helvetica, arial, sans-serif

.secondary_font
  font-family: Melbourne, Helvetica Neue, Helvetica, arial, sans-serif

h1
  font-size: 40px
  text-transform: lowercase
  @extend .primary_font

.highlight
  font-family: arial
  border: 1px solid $light_grey
  padding: 10px
  margin: 10px 0

// Structure Related CSS
#container
  width: $width
  margin: auto

#header
  margin-top: 8px
  margin-bottom: 50px
  h1
    float: left
  #social_links
    list-style: none
    @extend .secondary_font
    clear: both
    li
      font-size: 20px
      display: inline
      a
        color: black
        -webkit-transition: color .30s ease-in
        &:hover
          color: $color2
  #about_me
    float: right
    width: 300px
    text-align: right
    margin-top: 10px
    font-size: 14px
    font-style: italic
.post
  padding: 10px 0 80px 0
  border-top: 1px solid black
  .title
    font-weight: bold
    color: $color1
    font-size: 36px
    margin-bottom: 25px
    @extend .secondary_font
