<html>
  <head>
    <title> {{ page.title }} </title>
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <meta name="google-site-verification" content="WoRj5726Vv0IX8yt_vGrUrYRLHqPshAOhYbGZ36ND3o" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    {% include analytics.html %}
  </head>

  <body>
    <div id="container">
      <div id="header">
        {% include header.html %}
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
