<html>
  <head>
    <title> {{ page.title }} </title>
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <meta name="google-site-verification" content="WoRj5726Vv0IX8yt_vGrUrYRLHqPshAOhYbGZ36ND3o" />
    {% include analytics.html %}
  </head>

  <body>
    <div id="container">
      <div id="header">
        <a href="/"><h1> Roshan Choxi </h1></a>
        <a href="http://twitter.com/choxi"><img src="/images/twitter.png"></a>
        <a href="http://github.com/choxi"><img src="/images/github.png"></a>
        <a href="/blog.html"><img src="/images/blog.png"></a>
        <div class="clear"></div>
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
