<html>
  <head>
    <title> {{ page.title }} | roshfu </title>
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <meta name="google-site-verification" content="WoRj5726Vv0IX8yt_vGrUrYRLHqPshAOhYbGZ36ND3o" />
    {% include analytics.html %}
  </head>

  <body>
    <div id ="wrap">
      <div class="container">
        <div id="header">
          <div class="me">
            <!-- <img src="http://graph.facebook.com/choxi/picture?size=large">-->
            <h1><a href="/">Roshan Choxi</a></h1>
          </div>
          <a href="http://twitter.com/choxi"><div class="navigation twitter"></div></a>
          <a href="http://github.com/choxi"><div class="navigation github"></div></a>
          <a href="/blog.html"><div class="navigation blog"></div></a>
          <div class="clear"></div>
        </div>
        <div id="content">
          {{ content }}
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <img src="http://api.twitter.com/1/users/profile_image/choxi.png?size=bigger">
        <p> Hey my name's Roshan, I'm the Cofounder and CTO of <a href="http://bloc.io">Bloc</a>.</p>
        <p> You should follow me on Twitter <a href="http://twitter.com/choxi">here</></p>
        <div class="navigation_links">
          <a href="/blog.html"><div class="navigation blog"></div></a>
          <a href="http://github.com/choxi"><div class="navigation github"></div></a>
          <a href="http://twitter.com/choxi"><div class="navigation twitter"></div></a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>
